<% @features.each do |f| %>
	<div class="row list">
		<div class="span9 name">
			<%= f.name %>
		</div>
		<div class="span3">
			<%= link_to '<i class="icon-edit"></i>'.html_safe, edit_feature_path(f) %>
			<%= link_to '<i class="icon-remove"></i>'.html_safe, f, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
<% end %>