<% @features.each do |f| %>
	<div class="row list">
		<div class="span9 name">
			<%= f.name %>
		</div>
		<div class="span3">
			<i class="icon-edit"></i>
			<%= link_to 'Delete', f, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
<% end %>