<% @features.each do |f| %>
	<div class="row list">
		<div class="span9 name">
			<%= f.name %>
		</div>
		<div class="span3">
			<i class="icon-edit"></i>
			<i class="icon-remove"></i>
		</div>
	</div>
<% end %>