<div class="row-fluid">
	<div class="span4 feature">
		<a id="btn-add-feature"><i class="icon-plus"></i></a>
		<h2 class="text-center">Features</h2>
		<%= render 'user_interface/listFeature' %>
		<%= render 'user_interface/createFeatureForm' %>
	</div>
	<div class="span4 test-suite">
		<a id="btn-add-suite"><i class="icon-plus"></i></a>
		<h2 class="text-center">Test Suites</h2>
		<%= render 'user_interface/listTestSuite' %>
		<%= render 'user_interface/createSuiteForm' %>
	</div>
	<div class="span4 test-case">
		<a id="btn-add-case"><i class="icon-plus"></i></a>
		<h2 class="text-center">Test Cases</h2>
	</div> 
</div>