<div class="row-fluid">
	<div class="span4">
		<h2 class="text-center">Features</h2>
		<%= render 'user_interface/listFeature' %>
		<%= render 'user_interface/createFeatureForm' %>
	</div>
	<div class="span4">
		<h2 class="text-center">Test Suites</h2>
	</div>
	<div class="span4">
		<h2 class="text-center">Test Cases</h2>
	</div> 
</div>  
