.row-fluid {
	padding-top: 30px;

	.span4{
		background-color: #F7F7F7;
		border-radius: 15px;
	}
}

.new_feature {
	margin: 15px;
	padding: 10px;
	background-color: #bfbdbd;
	border-radius: 15px;
	display: none;
}

.list {
	margin-left: 25px;
}