<h2 class="text-center">Carrier</h2>

<div class="row-fluid">
	<div class="span5 text-center">MailCall</div>

	<div class="span5">
		<div class="switch" data-on="success" data-off="warning">
			<input type="checkbox" checked />
		</div>
	</div>
</div>