<h2 class="text-center">Customer Type</h2>

<label class="radio">
	<input type="radio" name="customer" id="guest" value="guest" checked>
	Guest Customer
</label>

<label class="radio">
	<input type="radio" name="customer" id="existing-home" value="existing-home">
	Existing Customer Login on Homepage
</label>

<label class="radio">
	<input type="radio" name="customer" id="existing-checkout" value="existing-checkout">
	Existing Customer Login on Checkout Page
</label>