<h2 class="text-center">Gift Card</h2>

<div class="row-fluid">
	<div class="span5 text-center">Redeem On</div>

	<div class="span5">
		<div class="switch" data-on="success" data-off="warning" data-on-label="Homepage" data-off-label="Checkout">
			<input type="checkbox" checked />
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span5 text-center">Voucher Code</div>

	<div class="span5">
		<input type="text" class="input-medium" placeholder="Your voucher code">
	</div>
</div>
<div class="row-fluid">
	<div class="span5 text-center">Discount Amount</div>

	<div class="span5">
		<input type="text" class="input-medium" placeholder="enter discount amount">
	</div>
</div>