<h2 class="text-center">Payment Method</h2>

<label class="radio">
	<input type="radio" name="payment" id="cc-approve" value="cc-approve" checked>
	Credit Card: Approve by ReD
</label>

<label class="radio">
	<input type="radio" name="payment" id="cc-challenge" value="cc-challenge">
	Credit Card: Challenge by ReD
</label>

<label class="radio">
	<input type="radio" name="payment" id="cc-deny" value="cc-deny">
	Credit Card: Deny by ReD
</label>

<label class="radio">
	<input type="radio" name="payment" id="paypal" value="paypal">
	Paypal
</label>

<label class="radio">
	<input type="radio" name="payment" id="paypal-express" value="paypal-express">
	Paypal Express
</label>