<h2 class="text-center">Shipping Address</h2>

<div class="row-fluid">
	<div class="span5 text-center">Same</div>
	<div class="span5">
		<div class="switch" data-on-label="Same" data-off-label="Diff" data-on="success" data-off="warning">
			<input type="checkbox" checked />
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span5 text-center">Country</div>
	<div class="span5">
		<div class="switch" data-on-label="AU" data-off-label="NZ" data-on="success" data-off="warning">
			<input type="checkbox" checked />
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span5 text-center">Address</div>
	<div class="span5">
		<input type="text" class="input-large" placeholder="Enter address here">
	</div>
</div>