<div class="breadcrumbs"><%= @parentFeature.name %> > <%= @parentSuite.name %></div>
<h1>Test Case Details</h1>
<!--<div class="row-fluid">
	<div class="span4 other">
		<div class="row-fluid">
			<div class="span3 text-center">Customer</div>
			<div class="span9">
				<select class="input-medium">
					<option>Guest</option>
					<option>Existing - Home</option>
					<option>Existing - Checkout</option>
				</select>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3 text-center">Payment Method</div>
			<div class="span9">
				<select class="input-large">
					<option>Credit Card - Approve</option>
					<option>Credit Card - Challenge</option>
					<option>Credit Card - Deny</option>
					<option>Paypal</option>
					<option>Paypal Express</option>
				</select>
			</div>
		</div>
		<div class="row-fluid">
			<h2 class="text-center">Billing Address</h2>
			<div class="span3 text-center">Country</div>
			<div class="span5">
				<div class="switch" data-on-label="AU" data-off-label="NZ" data-on="success" data-off="warning">
					<input type="checkbox" checked />
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3 text-center">Address</div>
			<div class="span9">
				<input type="text" class="input-medium" placeholder="Enter address here">
			</div>
		</div>
		<div class="row-fluid">
			<h2 class="text-center">Shipping Address</h2>
			<div class="span3 text-center">Same</div>
			<div class="span5">
				<div class="switch" data-on-label="Same" data-off-label="Diff" data-on="success" data-off="warning">
					<input type="checkbox" checked />
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3 text-center">Country</div>
			<div class="span5">
				<div class="switch" data-on-label="AU" data-off-label="NZ" data-on="success" data-off="warning">
					<input type="checkbox" checked />
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3 text-center">Address</div>
			<div class="span9">
				<input type="text" class="input-medium" placeholder="Enter address here">
			</div>
		</div>
		<div class="row-fluid">
			<h2 class="text-center">Carrier</h2>
			<div class="span3 text-center">MailCall</div>
			<div class="span5">
				<div class="switch" data-on="success" data-off="warning">
					<input type="checkbox" checked />
				</div>
			</div>
		</div>
	</div>
	<div class="span4 item">
		<a id="btn-add-item"><i class="icon-plus"></i></a>
		<h2 class="text-center">Item</h2>
	</div>
	<div class="span4 promo">
		<h2 class="text-center">Promotion</h2>
	</div> 
</div>-->
	<div class="tabbable">
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#address" data-toggle="tab">Address</a></li>
		  <li><a href="#contact" data-toggle="tab">Contact Information</a></li>
		  <li><a href="#settings" data-toggle="tab">Settings</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="address">Pizza</div>
		  <div class="tab-pane" id="contact">Steak</div>
		  <div class="tab-pane" id="settings">Cheeseburger</div>
		</div>
	</div>