<footer class="footer">
  <small>
    Author Michael Hou
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">Help</a></li>
    </ul>
  </nav>
</footer>